*.beam
rel/mgsv*/*
deps
.#*
rebar
*ebin*
*.dets
*.pem
*.crt
*.csr
*.org
*.key
*.der
rel/files/sys.config
.rebar3
_*
.eunit
*.o
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
