{erl_opts, [debug_info
           ,{parse_transform, lager_transform}
           ]}.
{deps, [
        {webmachine, {git, "git://github.com/webmachine/webmachine"}}
       , {lager, {git, "git@github.com:erlang-lager/lager.git"}}
       , {uuid, {git, "git@github.com:okeuday/uuid.git"}}
       , {apns, {git, "git@github.com:inaka/apns4erl.git"}}
       , {exchangerates, {git, "git://github.com/andekar/exchangerates.git"}}
       , {gcm, {git, "git://github.com/pdincau/gcm-erlang.git"}}
       , {jiffy, {git, "git@github.com:davisp/jiffy.git"}}
       ]}.

{relx, [{release, { mgsv, "0.3.9" },
         [lager,
          webmachine,
          mochiweb,
          apns,
          crypto,
          mgsv,
          kernel,
          stdlib,
          sasl,
          ssl,
          inets,
          xmerl,
          asn1,
          exchangerates,
          mnesia,
          gcm,
          jsx,
          jiffy
         , uuid
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true},
        {overlay, [{mkdir, "priv"}
                  , {copy, "priv/dispatch.conf", "priv/dispatch.conf"}
                  , {copy, "priv/server_key.pem", "priv/server_key.pem"}
                  , {copy, "priv/server_cert.pem", "priv/server_cert.pem"}
]}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]
            }]
}.
