{lib_dirs,["deps"]}.
{deps_dir, ["deps"]}.
{erl_opts, [warnings_as_errors, debug_info]}.
{xref_checks, [undefined_function_calls]}.
{sub_dirs, ["apps/mgsv", "rel", "test"]}.
{cover_enabled, true}.
{deps, [
        {webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"
                     }},
        {ossp_uuid, ".*", {git, "git://github.com/yrashk/erlang-ossp-uuid.git", "HEAD"
                    }},
        {meck, ".*", {git, "https://github.com/eproxus/meck", "develop"
               }}
        ]}.

