{lib_dirs,["deps"]}.
{deps_dir, ["deps"]}.
{erl_opts, [%{d,'DEBUG',true},
	    {parse_transform, lager_transform},
	    warnings_as_errors,
%            fail_on_warning,
	    warn_unused_vars,
	    warn_export_all,
	    warn_shadow_vars,
	    warn_unused_import,
	    warn_unused_function,
	    warn_bif_clash,
	    warn_unused_record,
	    warn_deprecated_function,
	    warn_obsolete_guard,
	    warn_export_vars,
	    warn_exported_vars,
%            warn_untyped_record,
	    % warn_missing_spec,
	    % strict_validation,
	    debug_info]}.
{xref_checks, [undefined_function_calls]}.
{sub_dirs, ["apps/mgsv", "rel", "test", "priv"]}.
{cover_enabled, true}.
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager", {tag,"2.2.0"}
		     }},
	{webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"
		     }},
	{ossp_uuid, ".*", {git, "git://github.com/yrashk/erlang-ossp-uuid.git", "HEAD"
		     }},
	{meck, ".*", {git, "git://github.com/eproxus/meck", "HEAD"
		     }},
	{apns, ".*", {git, "git://github.com/andekar/apns4erl.git", "HEAD"}},
%        {apns, ".*", {git, "git://github.com/inaka/apns4erl.git", "HEAD"}},
	{exchangerates, ".*", {git, "git://github.com/andekar/exchangerates.git", "master"}},
	{gcm, ".*", {git, "git://github.com/pdincau/gcm-erlang.git", "master"}}

       ]}.
{relx, [{release, {mgsv, "0.3.8"},
	 [mgsv]},

	{dev_mode, false},
	{include_erts, true},

	{extended_start_script, true}]}.