{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "mgsv", "1",
        [
         webmachine,
         mochiweb,
         crypto,
         mgsv,
         kernel,
         stdlib,
         sasl,
         inets
        ]},
       {rel, "start_clean", "",
        [
         crypto,
         kernel,
         stdlib
        ]},
       {boot_rel, "mgsv"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, crypto, [{incl_cond, include}]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, webmachine, [{incl_cond, include}]},
       {app, mgsv, [{incl_cond, include}]}
      ]}.

{target_dir, "mgsv"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/mgsv", "bin/mgsv"},
           {copy, "files/mgsv.cmd", "bin/mgsv.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
